---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.8.0
  creationTimestamp: null
  name: cloudflaretunnels.cloudflare-tunnel-operator.beezlabs.app
spec:
  group: cloudflare-tunnel-operator.beezlabs.app
  names:
    kind: CloudflareTunnel
    listKind: CloudflareTunnelList
    plural: cloudflaretunnels
    singular: cloudflaretunnel
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: CloudflareTunnel is the Schema for the cloudflaretunnels API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: CloudflareTunnelSpec defines the desired state of CloudflareTunnel
            properties:
              container:
                properties:
                  args:
                    items:
                      type: string
                    type: array
                  command:
                    items:
                      type: string
                    type: array
                  image:
                    type: string
                  imagePullPolicy:
                    description: PullPolicy describes a policy for if/when to pull
                      a container image
                    enum:
                    - IfNotPresent
                    - Always
                    - Never
                    type: string
                type: object
              domain:
                format: url
                type: string
              replicas:
                format: int32
                type: integer
              service:
                properties:
                  name:
                    type: string
                  namespace:
                    type: string
                  port:
                    format: int32
                    type: integer
                  protocol:
                    enum:
                    - http
                    - https
                    type: string
                required:
                - name
                - namespace
                - port
                - protocol
                type: object
              tokenSecretName:
                type: string
              zone:
                type: string
            required:
            - domain
            - replicas
            - service
            - tokenSecretName
            - zone
            type: object
          status:
            description: CloudflareTunnelStatus defines the observed state of CloudflareTunnel
            properties:
              connections:
                items:
                  properties:
                    architecture:
                      type: string
                    connectorID:
                      type: string
                    created:
                      format: date-time
                      type: string
                    edge:
                      type: string
                    originIP:
                      type: string
                    version:
                      type: string
                  type: object
                type: array
              tunnelID:
                format: uuid
                type: string
            required:
            - connections
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
